<%- include('partials/top', { title: 'Not Found - Rema' }) %>
<div class="container-fluid text-white">
	<%- include('partials/header', { title: 'Invalid ID' }) %>
	<div class="row text-center">
		<div class="col-12">
			<a href="../.." class="btn btn-secondary">Back to Home</a>
		</div>
	</div>
</div>
<%- include('partials/bottom') %>