<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title><%= locals.title ?? 'Certificate' %></title>
	<link rel="stylesheet" href="../../modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../modules/bootstrap-social/bootstrap-social.css">
	<link rel="stylesheet" href="../../modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../modules/toastify-js/src/toastify.css">
	<link rel="stylesheet" href="../../modules/css-spinners/dist/all.min.css">
	<link rel="stylesheet" href="../../static/style.css">
	<script defer src="../../modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script defer src="../../modules/jquery/dist/jquery.min.js"></script>
	<script defer src="../../modules/downloadjs/download.min.js"></script>
	<script defer src="../../modules/toastify-js/src/toastify.js"></script>
	<script defer src="../../static/script.js"></script>
</head>
<body>